.data-box-container {
	align-content: center;
	align-items: center;
	/*grey blue color for the shadow*/
	box-shadow: 3px 3px 10px #9197AE;
	height: auto;
	padding: 20px;
	padding-top: 5px;
	/*width: 95%;/**/
	text-align: center;
	margin: auto;
	margin-top: 20px;
	position: relative;
}

.data-box-control-buttons {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
}

.data-box-title {
	color: #F18F01;
	font-family: 'Arimo';
	text-align: left;
}

.data-box-title-edit {
	text-align: left;
}

.data-box {
	align-content: center;
	align-items: center;
	border: 3px;
	border-color: #3B3D3F;
	border-radius: 4px;
	border-style: solid;
	bottom: 0;
	box-shadow: 2px 2px 1.5px #9197AE;
	box-sizing: border-box;
	/*EEEEEE: grey color*/
	background-color: #EEEEEE;
	display: inline-block;
	float: center;
	height: 85px;
	margin: 20px;
	margin-left: 3%;
	margin-right: 3%;
	position: relative;
	text-align: center;
	vertical-align: text-bottom;
	width: 150px;
}

.data-box-content {
	display: inline-block;
	bottom: 0;
	cursor: pointer;
	font-color: black;
	font-size: 16px;
	margin: auto;
	position: relative;
	min-width: 150px;
}

.data-box-number-display {
	font-color: black;
	font-size: 30px;
	font-weight: bold;
	line-height: 210%;
	text-align: center;
}

.data-box-content:hover .data-box-tooltip, .data-box-content.hover .data-box-tooltip, .data-box-tooltip.showing {
	cursor: pointer;
	opacity: 1;
	display: initial;
}

.data-label {
	bottom: 4px;
	font-color: black;
	font-size: 9pt;
	font-weight: bold;
	margin: auto;
	position: absolute;
	width: 100%;
	line-height: 90%;
}

.data-label-drop-down {
	bottom: 4px;
	font-color: black;
	font-size: 9pt;
	font-weight: bold;
	margin: auto;
	position: absolute;
	width: 87%;
	line-height: 90%;
}

.data-box-tooltip {
	background-color: #3B3D3F;
	/*black olive*/
	border-radius: 4px;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 150%;
	transition: opacity 0.5s;
	display: none;
	width: 150px;
	z-index: 1;
}

.data-box-tooltip::after {
	border-width: 7px;
	border-style: solid;
	border-color: transparent transparent #3B3D3F transparent;
	bottom: 100%;
	content: "";
	left: 49%;
	margin-left: -5px;
	position: absolute;
}

.data-box-tooltip-box {
	align-content: center;
	align-items: center;
	border: 1px;
	border-color: #3B3D3F;
	border-radius: 4px;
	border-style: solid;
	bottom: 0;
	box-shadow: 2px 2px 1.5px #9197AE;
	box-sizing: border-box;
	/*EEEEEE: grey color*/
	background-color: #EEEEEE;
	display: inline-block;
	float: center;
	height: 85px;
	margin: 10px;
	padding: 10px;
	position: relative;
	text-align: center;
	vertical-align: text-bottom;
	width: 120px;
}

.data-box-number-display-tooltip {
	font-color: black;
	font-size: 25px;
	font-weight: bold;
	line-height: 210%;
	text-align: center;
}